<div id="md-change-photo-of-user">

    <input type="file" img-cropper-fileread image="cropper.sourceImage" />

    <div>
        <div class="row">
            <div class="col-md-6">
                <div>Исходное изображение:</div>
                <canvas width="280" height="280"
                        id="canvas"
                        image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage"
                        crop-width="280" crop-height="280"
                >
                </canvas>
            </div>
            <div class="col-md-6">
                <div>Результат:</div>
                <div id="resultPhoto" ng-show="cropper.croppedImage != null">
                    <img ng-src="{{ cropper.croppedImage }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <button class="btn btn-success" ng-click="changePhotoOfUser()" ng-show="cropper.croppedImage != null">
        Обновить фото пользователя
    </button>
    <button class="btn btn-default" ng-click="close()">Закрыть окно</button>
</div>

