<toolbar></toolbar>
<div id="wrapper_for_settings" ng-controller="SettingsController">
    <div id="photo_of_user">
        <div id="photo">
            <img ng-src="{{ photoOfUser }}" alt="Фото пользователя">
        </div>

        <div id="change">
            <button ng-click="modalDialogChangePhotoOfUser()" id="change_photo"
                    class="btn btn-link"
            >
                Заменить фото?
            </button>
        </div>
    </div>

    <form name="formOfSettings" novalidate ng-submit="apply()">
        <ul id="settings">
            <li>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">E-mail<span class="required">*</span>:</span>
                    <input ng-model="userSettings.eMail" class="form-control" type="text"
                           aria-describedby="basic-addon1">
                </div>
            </li>

            <li>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Новый пароль:</span>
                    <input ng-model="newPassword" class="form-control" type="password"
                           aria-describedby="basic-addon2">
                </div>
            </li>

            <li>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Подтверждение нового пароля:</span>
                    <input ng-model="confirmOfNewPassword" class="form-control" type="password"
                           aria-describedby="basic-addon3">
                </div>
            </li>

            <li>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">Логин<span class="required">*</span>:</span>
                    <input ng-model="userSettings.login" class="form-control" type="text"
                           aria-describedby="basic-addon4">
                </div>
            </li>

            <li>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon5">Фамилия:</span>
                    <input ng-model="userSettings.lastName" class="form-control" type="text"
                           aria-describedby="basic-addon5">
                </div>
            </li>

            <li>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon6">Имя:</span>
                    <input ng-model="userSettings.firstName" class="form-control" type="text"
                           aria-describedby="basic-addon6">
                </div>
            </li>
        </ul>

        <div class="clear"></div>

        <div id="apply">
            <input type="submit" class="btn btn-default" value="Применить изменения" id="apply_the_changes">
        </div>
    </form>
</div>