<div id="header">
    <div id="navigation">
        <ul>
            <li><a ui-sref="main">Главная</a></li>
            <li><a ui-sref="users">Пользователи</a></li>
            <li><a ui-sref="settings">Настройки</a></li>
        </ul>
    </div>
    <div id="user_profile" ng-controller="ToolbarController">
        <ul>
            <li><img src="img/photo_of_user.png" alt="Фото пользователя"></li>
            <li><span id="user_full_name">{{user.lastName}} {{user.firstName}}</span></li>

            <li><button type="button" class="btn btn-default" ng-click="logout()" value="Выйти">Выйти</button></li>
        </ul>
    </div>
</div>