<div class="modal-body">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Список задач:</span>
        <input ng-model="tmpListOfTasks.name" type="text" class="form-control" placeholder="Список задач №1"
               aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Описание:</span>
        <input ng-model="tmpListOfTasks.description" type="text" class="form-control"
               placeholder="Краткая инофрмация о списке задач" aria-describedby="basic-addon2">
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ok()" type="button" class="btn btn-success">Сохранить изменения</button>
    <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
</div>